<p>Welcome to IsItOpen.io, copy the snippet from below to get started..</p>

<code>
    &lt;img src="//isitopen.io/beacon/{{ id }}.gif" /&gt;
</code>
<div>
    <a href="#">copy to clipboard</a>
</div>